@font-face {
    font-family: "TTLakesRegular";
    src: url('./assets/fonts/TTLakes-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TTLakesBold";
    src: url('./assets/fonts/TTLakes-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight:normal;
}

body{
    margin: 0;
    font-family: "TTLakesRegular";
    background-color: #F8F8F8;

}
*{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,p{
margin: 0;
}
button{
    border:none;
    outline:none;
    background-color: transparent;
    padding:0;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.content__image {
    width: 100%;

}
.header{
    background-color: #fff;
}
.sidebar{
    overflow: scroll;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width:320px;
    height: 100%;
    position:fixed; /* absolute or relative or static */
    background-color: #fff;
    left: 0;
    top:0;
    z-index: 1;
    padding:24px 24px 32px 24px;
    box-shadow:  -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.sidebar__buttons{
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sidebar__menu{
    display:flex;
    flex-direction: column;
    justify-content:space-between ;
    margin-left: -24px;
}
.sidebar__menu li{
    position: relative;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    align-items: center;
}
.sidebar__menu .menu--active::before{
    content: '';
    border-left: 4px solid #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    left: 0;
    height: 100%;
}
.sidebar__menu .menu--active{
    color: gray;
}
.language-buttons--active{
    color:gray;
}

.sidebar__menu li:not(:last-child){
    margin-bottom: 32px;
}
.footer__buttons{
    margin-bottom: 16px;
}
.footer__buttons button:not(:last-child){
    margin-right: 16px;
}

.contacts__mail{
    margin-bottom: 12px;
}
.contacts__phone{
    font-size: 24px;
    font-family:"TTLakesBold";
}
.footer__contacts{
    margin-bottom: 40px;
}
.language-buttons button{
    font-size: 16px;
}
.header__nav { 
    display: flex; 
    justify-content: space-between;
    align-items:center;
    padding: 25px;
}
.nav__left-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__right-block {
    display: flex;
}
.nav__right-block .nav-link {
    position: relative;
    padding-left: 15px;
}

.nav__right-block .nav-link a {
    margin: 0;
}

.nav__right-block .nav-link:nth-child(4)::before {
    content: '';
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    position: absolute;
    left: 0;
    height: 100%;
}

.nav-link a {
    display: flex;
    margin-right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    justify-content: center;
    align-items: center;

}

.main{
    padding: 24px;
}

.main__title{
    margin-bottom: 32px;
    font-family: "TTLakesBold";
    font-size: 28px;
    padding-left: 24px;
    position: relative;
    margin-left: -24px;
}
.main__title::before{
    content: '';
    border-left: 4px solid #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    left: 0;
    height: 100%;
}
.main__service-list {
    display: flex;
    margin-bottom: 32px;
    overflow: scroll;
}
.service-list__item {
    padding:8px 22px;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor:pointer;
    white-space:nowrap;
    
}
.service-list__item--active {
    background-color: #fff;
    border-color: #B8FFEC;
}
.service-list__item:hover {
    background-color: #fff;
}
.content__text{
    font-size: 14px;
}
.content__text:first-child{
    margin-bottom: 24px;
}
.content__text--2, .content__text--3 {
    display:none;
}
.main__content div{
    margin-bottom: 14px;
}
.main__content section{
    margin-bottom: 24px;
}
.button {
    cursor: pointer;
}
.button img{
    margin-right: 8px;
}
.no-on-mobile{
    display: none;
}
.nav-link span {
    display:none;
}


/* for tablet */
@media (min-width:768px) {
    .no-on-mobile{
        display: block;
    }
    .nav-link:nth-child(3){
        padding-right:15px;
    }
    .main__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:36px;
    }
    .content__image{
        border-radius: 10px;
    }
    .content__text--2{
        display:block;
    }
    .sidebar {
        display:none;
    }
}

/* for PC */
@media (min-width:1120px){
    .sidebar {
        display:none;
    }
    .main__service-list {
        flex-wrap: wrap;
        overflow: unset;
    }
    .content__text--3 {
        display: block;
    }
    .nav-link{
        display:flex;
        align-items: center;
    }
    .nav-link span {
        margin-right:8px;
        display:inline;
    }
    .no-on-mobile {
        display: none;
    }
}